@page "/"

<PageTitle>Home</PageTitle>

<p class="mb-1">@password</p>

<input type="text" class="form-control" @bind="password" @bind:event="oninput"/>

@code
{
    private string password = string.Empty;
}
