@page "/"

<PageTitle>Home</PageTitle>

<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
    <span class="input-group-text" id="basic-addon2">📄</span>
    <span class="input-group-text" id="basic-addon3">🔄</span>
    <span class="input-group-text" id="basic-addon4">💾</span>
</div>

@code
{
    private string password = string.Empty;
    private int passwordLenght = 6;
}
